@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root{
    --white: #f1f1f1;
    --black: #191718;
    --red: #e03671;

    --shadow-color: #292828;
}

*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    list-style: none;
}

body, html{
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--white);
}

/* similar instructions */
header div nav:nth-child(1) ul li a:hover,
footer div ul li a:hover{
    color: var(--red);
}

section,
div.container-footer,
div.container-top-area{
    max-width: 1300px;
    margin: auto;
}
nav{
    display: flex;
    align-items: center;
}

p.paragraph{
    text-align: justify;
    line-height: 32px;
    margin-top: 18px;
}

/* mobile menu */
#menu-mobile-icon{
    display: none   ;
    color: var(--white);
    font-size: 18px;
    margin-left: 36px;
}

/* navigation */

header{
    width: 100%;
    background-color: var(--black);
    height: 100px;
}
header h1{
    color: var(--white);
}
span{
    color: #e03671;
}
div.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    border-radius: 5px;
    background-color: var(--shadow-color);
    border: 2px solid var(--shadow-color);
}
div.search input{
    margin-right: 18px;
    border: none;
    padding: 8px 24px;
    outline: 0;
    color: var(--white);
    background-color: var(--shadow-color);
    border-radius: 5px;
}
div.search i{
    margin-right: 18px;
    color: var(--white);
    cursor: pointer;
}
div.container-nav{
    max-width: 1300px;
    height: inherit ;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.container-nav nav:nth-child(1) ul li{
    display: inline-block;
    padding-right: 36px;
}
div.container-nav nav:nth-child(1) ul li:nth-child(4){
    padding-right: 0px;
}
div.container-nav nav:nth-child(3) ul li{
    display: inline-block;
    padding-left: 36px;
}
div.container-nav nav ul li a{
    color: var(--white);
}
button.primary-button{
    border: 2px solid var(--red);
    background-color: var(--red);
    color: var(--white);
    padding: 8px 24px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}
button.secondary-button{
    border: 2px solid var(--red);
    background-color: var(--black);
    color: var(--red);
    padding: 8px 24px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

/* home */

section#home{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 18px;
    height: calc(100vh - 100px);
    padding: 36px 0px;
}
section#home div h1{
    font-size: 2.5em;
    margin: 10px 0px;
}
section#home div h2{
    margin: 10px 0px;
}
div.date{
    background-color: var(--red);
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    color: var(--white);
}
div.homeNew{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 36px;
    background-color: var(--shadow-color);
    color: var(--white);
    /* background-image: url('http://localhost/blog-laravel/public/images/test.jfif');
    background-size: cover;
    background-position: center; */
}
div.homeNew img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
div.homeNew:nth-child(3){
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

div.homeNew:nth-child(1){
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

div.homeNew:nth-child(2){
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

section#home > div:nth-child(1) > div > div.title > a > h1{
    font-size: 1.5em;
}

section#home > div:nth-child(2) > div > div.title > a > h1{
    font-size: 1.5em;
}


div.author i{
    margin-right: 10px;
}
/* populars */
div.container-populars{
    display: grid;
    grid-template-columns: 3fr 1.7fr;
    gap: 18px;
}
div.container-populars aside{
    background-color: var(--white);
    width: 100%;
    gap: 18px;
}
section#populars
{
    margin-bottom: 36px;
}
section#populars main,
div.cn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    width: 100%;
}
div.section-title{
    display:flex;
    margin: 18px;
    width: max-content;
}
div.section-title div.text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
}
div.section-title div.text i{
    margin-right: 10px;
    color: var(--red);
}
div.section-title div.hr{
    width: 120px;
    height: 2px;
    background-color: var(--red);
    margin-top: 5px;
}
div.common-new{
    display: flex;
    height: 100%;
    width: 100%;
}
div.common-new:nth-child(1){
    display: none;
}
div.cn-image-area{
    flex: 1;
    background-color: var(--shadow-color);
}
div.cn-content-area{
    flex: 2;
    padding: 36px;
    background-color: white;
}
div.subtitle{
    margin: 10px 0px;
}
div.title a{
    color: var(--black);
}
div.title a:hover{
    text-decoration: underline;
}
button.load-more{
    width: 230px;
}
/* search result */
div.container-sr{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    margin-bottom: 36px;
}

/* current new */
section#currentNew h1,
section#currentNew h3{
    margin-top: 36px;
}

div.container-top-area h1{
    font-size: 3em;
    font-weight: 700;
    margin: 10px 0px 20px 0px;
}
div.container-top-area p{
    font-size: 1em;
    font-weight: 400;
}

div.top-area{
    background-color: var(--shadow-color);
    height: 360px;
    color: var(--white);
}
div.container-top-area,
section#currentNew{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: inherit;
    padding: 0px 80px;
}

div.top-area div.section-title{
    margin: 0;
}
div.authorArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 36px 0px;
    width: 100%;
}
/* aside widgets */
div.stay-informed,
div.weather{
    width: 100%;
    height: max-content;
    background-color: #ffffff;
    padding: 36px;
    margin-bottom: 18px;
}
div.stay-informed p{
    text-align: justify;
    margin: 18px 0px 10px;
}
div.stay-informed button{
    margin-top: 26px;
    background-color: #fff;
}
/* div.weather-info-area{
    width: 100%;
} */
div.container-weather{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.weather-appearence{
    text-transform: capitalize;
    font-weight: 700;
}
div.temperature{
    display: flex;
}
div.temperature p{
    font-size: 36px;
}
div.weather-other-info-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* auth forms */
div.container-register-form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
#register-form,
#login-form{
    display: flex;
    flex-direction: column;
    padding: 36px;
    width: 330px;
}
#register-form h3,
#login-form h3{
    width: 100%;
    text-align: center;
    margin-bottom: 18px;
}   
#register-form input,
#login-form input{
    height: 36px;
    padding: 0px 18px;
    outline: 0;
    margin: 9px 0px;
    border-radius: 5px;
    border: 1px solid #aaa;
}
#register-form button,
#login-form button{
    margin-top: 18px;
}
p.error-message,
div.passwordConfirmErrorArea{
    color: var(--red);
    width: 100%;
    text-align: right;
    margin-bottom: 5px;
}
/* management */

section#management table{
    width: 100%;
    border-collapse: collapse;
}
section#management table thead tr{
    text-align: center;
    background-color: var(--red);
    color: var(--white);
}
section#management table thead tr td{
    padding: 10px;
    border: 1px solid var(--shadow-color);
}
section#management table tbody tr td:nth-child(5) div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
section#management table tbody tr td:nth-child(5) div a{
    font-size: 1.2em;
}
section#management table tbody tr td:nth-child(5) div a:nth-child(1){
    color: var(--black);
}
section#management table tbody tr td:nth-child(5) div a:nth-child(2){
    color: var(--red);
}
section#management table tbody tr td{
    width: max-content;
    background-color: #fff;
    border: 1px solid var(--shadow-color);
    padding: 10px;
    height: 100%;
}
/* footer */
footer{
    background-color: var(--black);
    height: 100px;
}
div.container-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black);
    width: 100vw;
    height: 100%;
    color: var(--white);
}
footer ul li{
    display: inline-block;
    padding-right: 20px;
}
footer ul li a{
    color: var(--white);
}
/* publish form */
div.container-publish{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.container-publish form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 36px;
    background-color: #e3e3e3;
    width: 35%;
}
div.container-publish form input{
    height: 30px;
}
div.container-publish form textarea{
    height: 250px;
}
div.container-publish form input,
div.container-publish form textarea{
    resize: none;
    width: 100%;
    border: 1px solid #e3e3e3;
    outline: 0;
    padding: 9px;
    margin-bottom: 18px;
}
div.container-publish form input:focus,
div.container-publish form textarea:focus{
    border: 1px solid var(--red);
}

/* responsiveness */

@media(max-width: 1060px){
    div.container-nav nav:nth-child(1){
        display: none;
    }
    #menu-mobile-icon{
        display: flex;
    }
}
@media(max-width: 824px){
    div.container-footer{
        flex-direction: column;
    }
}
@media(max-height: 621px){
    /* ... */
}
@media(max-width: 769px){
    div.container-nav nav:nth-child(3) > ul,
    aside, div.common-new div.cn-image-area{
        display: none;
    }
    section#home{
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 1fr);
        height: 100%;
    }
    div.homeNew:nth-child(1){
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    div.homeNew:nth-child(2){
        grid-column:  1 / 2;
        grid-row: 2 / 3;
    }
    div.homeNew:nth-child(3){
        grid-column:  1 / 2;
        grid-row: 3 / 4;
    }
    section#home > div:nth-child(3) > div > div.title > a > h1{
        font-size: 24px;
    }
    div.container-populars{
        grid-template-columns: 1fr;
    }
}

